.order-confirm-container {
    width: 100%;
}

.user-info-head {
    display: flex;

    >h2 {
        padding-left: 350px;
        padding-top: 10px;
    }

    >button {
        margin-left: 400px;
        height: 40px;
        width: 100px;
        margin-top: 10px;
        border-radius: 5px;
        font-weight: 600;
        color: blue;
    }
}

.user-info-box {
    height: max-content;
    width: 90%;
    margin: 50px;
    background: rgb(228, 222, 222);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;





}
.address-divider{
    width: 90%;
    margin-left: 20px;
}
.user-info-content {
    padding-left: 100px;
}

.user-info-log {
    font-size: 15px;
}

.checkout-btn {
    width: 200px;
    height: 50px;
    margin-left: 200px;
    margin-top: 15px;
    border-radius: 5px;
    background: tomato;
    font-weight: 600;
    color: white;

}

.address-info-box {
    height: max-content;
    width: 90%;
    margin: 0px 50px;
    background: rgb(228, 222, 222);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.address-info-head {
    display: flex;

    >h2 {
        padding-left: 350px;
        padding-top: 10px;
    }

    >button {
        margin-left: 310px;
        height: 40px;
        width: 100px;
        margin-top: 10px;
        border-radius: 5px;
        font-weight: 600;
        color: blue;
    }
}

.address-content-row {
    display: flex;


}

.deliver-btn {
    >button {
        margin-left: 600px;
        margin-bottom: 20px;
        width: 200px;
        height: 50px;
        margin-top: -0px;
        border-radius: 5px;
        background: tomato;
        font-weight: 600;
        color: white;
    }

}

.address-change-icons {
    width: 20%;
    display: flex;
    font-size: 30px;

}

.address-edit-btn {
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
    background: rgb(228, 222, 222);
}

.address-input-radio {
    width: 10%;
    font-size: 20px;
}

.order-info-head {
    display: flex;

    >h2 {

        padding-left: 350px;
        padding-top: 10px;
    }

    >button {
        margin-left: 340px;
        height: 40px;
        width: 100px;
        margin-top: 10px;
        border-radius: 5px;
        font-weight: 600;
        color: blue;
    }

}

.order-info-box {
    height: max-content;
    width: 90%;
    margin: 50px 50px;
    background: rgb(228, 222, 222);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.order-confirm-btn {

    margin-left: 900px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    background: tomato;
    font-weight: 600;
    color: white;
}

@media (min-width:2560px) {
    .user-info-head {
        height: 100px;
       

        >h2 {
            padding-left: 200px;
            padding-top: 30px;
            font-size: 40px;
        }

        >button {
            height: 60px;
            width: 150px;
            margin-top: 20px;
            margin-left: 1500px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 30px;
            color: blue;
        }
    }

    .user-info-box {
        height: 300px;
        width: 90%;
        margin: 100px 100px 0px 100px;
        background: rgb(228, 222, 222);

    }

    .user-info-content {
        padding-left: 200px;

        >h5 {
            font-size: 40px;
        }
    }

    .user-info-log {
        font-size: 30px;
    }

    .checkout-btn {
        height: 80px;
        width: 280px;
        font-size: 25px;
        margin-top: 50px;
    }

    .address-info-box {
        min-height: 330px;
        height: max-content;
        width: 90%;
        margin: 100px 100px 0px 100px;
    }

    .address-info-head {
        height: 100px;

        >h2 {
            font-size: 50px;
            margin-left: -200px;
        }

        >button {
            height: 60px;
            width: 150px;
            margin-top: 20px;
            margin-left: 1150px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 30px;
            color: blue;
        }

    }

    .address-input-radio {
        margin-top: 30px;

    }

    .address-content {
        margin-left: -100px;

        >h5 {
            font-size: 40px;
        }

    }

    .deliver-btn {
        >button {
            margin-left: 700px;
            height: 80px;
            width: 280px;
            margin-top: -100px;
            border-radius: 5px;
            background: tomato;
            font-weight: 550;
            font-size: 25px;
            color: white;
        }

    }

    .address-change-icons {
        font-size: 50px;

    }

    .order-info-box {
        margin: 100px 100px 0px 100px;


    }

    .order-info-head {
        height: 100px;

        >h2 {
            font-size: 50px;
            margin-left: -200px;

        }
    }

    .order-product-img {
        >img {
            height: 200px;
            min-width: 200px;
        }

    }

    .order-product-detail {
        >.row {
            >.col {
                >h5 {
                    padding-left: 50px;
                    font-size: 40px;
                }
            }
        }

    }

    .order-product-price {
        >h5 {
            font-size: 50px;

        }
    }

    .order-dispatch-detail {
        >h5 {
            >li {
                font-size: 35px;
            }

        }

        >p {
            font-size: 25px;
        }
    }

    .order-confirm-btn {
        margin-left: 1200px;
        width: 280px;
        height: 80px;
        margin-top: 15px;
        font-size: 30px;
    }

}
@media (max-width:1150px) and (min-width : 1024px){
    .address-change-icons {
        width: 20%;
        display: flex;
        font-size: 20px;
    
    }
   
    .deliver-btn {
        >button {
            margin-left: 300px;
            margin-bottom: 20px;
            width: 200px;
            height: 50px;
            margin-top: 0px;
            border-radius: 5px;
            background: tomato;
            font-weight: 600;
            color: white;
        }
    
    }
}
@media (max-width:1400px) and (min-width : 1024px){
    .user-info-head {
        height: 30px;
        margin: 10px;
        >h2 {
            margin-left: -100px;
            font-size: 20px;
        }

        >button {
            height: 30px;
            width: 100px;
            margin-top: 5px;
            margin-left: 325px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }
    }
    .deliver-btn {
        >button {
            margin-left: 300px;
            margin-bottom: 20px;
            width: 200px;
            height: 50px;
            margin-top: 0px;
            border-radius: 5px;
            background: tomato;
            font-weight: 600;
            color: white;
        }
    
    }
    .address-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -100px;
        }

        >button {
            height: 30px;
            width: 100px;
            margin-top: 5px;
            margin-left: 180px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }
    .order-confirm-btn {
        margin-left: 400px;
        width: 250px;
        height: 50px;
        margin-top: 15px;
        font-size: 20px;
    }
}

/* Tab Css */
@media (max-width:1024px) and (min-width : 600px){
    .user-info-head {
        height: 15px;
        margin: 10px;
        >h2 {
            padding-left: 50px;
            padding-top: 6px;
            padding-bottom: 20px;
            font-size: 20px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 325px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }
    }

    .user-info-box {
        height: 130px;
        width: 90%;
        margin: 10px 10px 0px 30px;
        background: rgb(228, 222, 222);

    }

    .user-info-content {
        padding-left: 50px;

        >h5 {
            font-size: 15px;
        }
    }

    .user-info-log {
        font-size: 10px;
    }
    
    .checkout-btn {
        height: 20px;
        width: 80px;
        font-size: 7px;
        margin-top: 50px;
        margin-left: -20px;
    }

    .address-info-box {
        min-height: 130px;
        height: max-content;
        width: 90%;
        margin: 10px 10px 0px 30px;
    }

    .address-info-head {
        height: 30px;

        >h2 {
            font-size: 15px;
            margin-left: -300px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-left: 220px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }

    .address-input-radio {
        margin-top: 30px;

    }

    .address-content {

        >h5 {
            font-size: 10px;
        }

    }

    .deliver-btn {
        >button {
            height: 20px;
            width: 80px;
            font-size: 7px;
            margin-top: -0px;
            margin-left: 180px;
            background: tomato;
            font-weight: 550;
            font-size: 7px;
            color: white;
        }

    }

    .address-change-icons {
        font-size: 15px;

    }

    .order-info-box {
        margin: 10px 10px 0px 30px;
        min-height: 60vh;
        height: max-content;

    }

    .order-info-head {
        height: 30px;

        >h2 {
            font-size: 20px;
            margin-left: -300px;

        }
    }

    .order-product-img {
        >img {
            margin: 0px;
            height: 80px;
            min-width: 80px;
        }

    }

    .order-product-detail {
        >.row {
            >.col {
                >h5 {
                    padding-left: 20px;
                    font-size: 10px;
                }
            }
        }

    }

    .order-product-price {
        >h5 {
            font-size: 15px;

        }
    }

    .order-dispatch-detail {
        >h5 {
            >li {
                font-size: 10px;
            }

        }

        >p {
            font-size: 10px;
        }
    }

    .order-confirm-btn {
        margin-left: 200px;
        width: 80px;
        height: 20px;
        margin-top: 15px;
        font-size: 9px;
    }
hr{
    width: 70vw;
}
.my-orders{
    min-width: 0 0 100%;
    max-width:100%;

    margin-left: 10px;
    padding: 0px;
    display: flex;
    margin-top: 15px;
    height: max-content;
}
}
@media (max-width:768px) {

    .user-info-head {
        height: 15px;
       margin: 10px;
        >h2 {
            padding-left: 50px;
            padding-top: 6px;
            padding-bottom: 20px;
            font-size: 20px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 325px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }
    }

    .user-info-box {
        height: 130px;
        width: 90%;
        margin: 10px 10px 0px 30px;
        background: rgb(228, 222, 222);

    }

    .user-info-content {
        padding-left: 50px;

        >h5 {
            font-size: 15px;
        }
    }

    .user-info-log {
        font-size: 10px;
    }

    .checkout-btn {
        height: 20px;
        width: 80px;
        font-size: 7px;
        margin-top: 50px;
        margin-left: -20px;
    }

    .address-info-box {
        min-height: 130px;
        height: max-content;
        width: 90%;
        margin: 10px 10px 0px 30px;
    }

    .address-info-head {
        height: 30px;

        >h2 {
            font-size: 15px;
            margin-left: -250px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 220px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }

    .address-input-radio {
        margin-top: 30px;

    }

    .address-content {

        >h5 {
            font-size: 10px;
        }

    }

    .deliver-btn {
        >button {
            height: 20px;
            width: 80px;
            font-size: 7px;
            margin-left: 180px;
            background: tomato;
            font-weight: 550;
            font-size: 7px;
            color: white;
        }

    }

    .address-change-icons {
        font-size: 15px;

    }

    .order-info-box {
        margin: 10px 10px 0px 30px;
        min-height: 60vh;
        height: max-content;

    }

    .order-info-head {
        height: 30px;

        >h2 {
            font-size: 20px;
            margin-left: -300px;

        }
    }

    .order-product-img {
        >img {
            margin: 0px;
            height: 80px;
            min-width: 80px;
        }

    }

    .order-product-detail {
        >.row {
            >.col {
                >h5 {
                    padding-left: 20px;
                    font-size: 10px;
                }
            }
        }

    }

    .order-product-price {
        >h5 {
            font-size: 15px;

        }
    }

    .order-dispatch-detail {
        >h5 {
            >li {
                font-size: 10px;
            }

        }

        >p {
            font-size: 10px;
        }
    }

    .order-confirm-btn {
        margin-left: 200px;
        width: 80px;
        height: 20px;
        margin-top: 15px;
        font-size: 9px;
    }
hr{
    width: 70vw;
}
.my-orders{
    min-width: 0 0 100%;
    max-width:100%;

    margin-left: 10px;
    padding: 0px;
    display: flex;
    margin-top: 15px;
    height: max-content;
}
}


/* Mobile Css */
@media (max-width:600px) and (min-width:200px){
    .user-info-box {
        height: 130px;
        width: 90%;
        margin: 10px 10px 0px 30px;
        background: rgb(228, 222, 222);

    }

    .order-confirm-container {
        width: 100%;
        height: 80vh;
    }
    .user-info-head {
        height: 15px;
        margin: 10px;
        >h2 {
            padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 20px;
            font-size: 20px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 225px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }
    }
    .user-info-content {
        padding-left: 20px;

        >h5 {
            font-size: 15px;
        }
    }

    .user-info-log {
        font-size: 10px;
    }

    .checkout-btn {
        height: 20px;
        width: 80px;
        font-size: 7px;
        margin-top: 50px;
        margin-left: -20px;
    }
    
    .address-info-box {
        min-height: 100px;
        height: max-content;
        width: 90%;
        margin: 10px 10px 0px 30px;
    }

    .address-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -350px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 220px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }

    .address-input-radio {
        margin-top: 30px;

    }

    .address-content {

        >h5 {
            font-size: 15px;
        }

    }

    .deliver-btn {
        >button {
            height: 20px;
            width: 80px;
            font-size: 7px;
            margin-left: 180px;
            background: tomato;
            font-weight: 550;
            font-size: 7px;
            color: white;
        }

    }

    .address-change-icons {
        font-size: 15px;

    }
    
    .order-info-box {
        margin: 10px 10px 0px 30px;
        min-height: 60vh;
        height: max-content;

    }

    .order-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -350px;

        }
    }

    .order-product-img {
        >img {
            margin: 0px;
            min-height: 30px;
            max-height: 80px;
            min-width: 80px;
        }

    }

    .order-product-detail {
        >.row {
            >.col {
                >h5 {
                    padding-left: 40px;
                    font-size: 10px;
                }
            }
        }

    }

    .order-product-price {
        >h5 {
            font-size: 13px;

        }
    }

    .order-dispatch-detail {
        >h5 {
            >li {
                font-size: 8px;
            }

        }

        >p {
            font-size: 10px;
        }
    }

    .order-confirm-btn {
        margin-left: 200px;
        width: 80px;
        height: 20px;
        margin-top: 15px;
        font-size: 9px;
    }
    .my-orders{
        width: 80vw;
    }
}
@media (max-width:425px) and (min-width:200px){
    .user-info-box {
        height: 130px;
        width: 90%;
        margin: 10px 0px 0px 10px;
        background: rgb(228, 222, 222);

    }
    .user-info-head {
        height: 15px;
        margin: 10px;
        >h2 {
            padding-left: 20px;
            padding-top: 6px;
            padding-bottom: 20px;
            font-size: 18px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 225px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }
    }
    .user-info-content {
        padding-left: 20px;

        >h5 {
            font-size: 13px;
        }
    }

    .user-info-log {
        font-size: 6px;
    }

    .checkout-btn {
        height: 20px;
        width: 80px;
        font-size: 7px;
        margin-top: 40px;
        margin-right: 80px;
        
    }
    .address-info-box {
        min-height: 100px;
        height: max-content;
        width: 90%;
        margin: 10px 10px 0px 10px;
    }

    .address-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -350px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 120px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }

    .address-input-radio {
        margin-top: 30px;

    }

    .address-content {

        >h5 {
            font-size: 15px;
        }

    }

    .deliver-btn {
        >button {
            height: 20px;
            width: 80px;
            font-size: 7px;
            margin-left: 180px;
            background: tomato;
            font-weight: 550;
            font-size: 7px;
            color: white;
        }

    }

    .address-change-icons {
        font-size: 15px;

    }
    .order-info-box {
        margin: 10px 10px 0px 10px;
        min-height: 60vh;
        height: max-content;

    }

    .order-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -350px;

        }
    }

    .order-product-img {
        >img {
            margin: 0px;
            min-height: 30px;
            max-height: 80px;
            min-width: 80px;
        }

    }

    .order-product-detail {
        >.row {
            >.col {
                >h5 {
                    padding-left: 40px;
                    font-size: 10px;
                }
            }
        }

    }

    .order-product-price {
        >h5 {
            font-size: 13px;

        }
    }

    .order-dispatch-detail {
        >h5 {
            >li {
                font-size: 8px;
            }

        }

        >p {
            font-size: 10px;
        }
    }

    .order-confirm-btn {
        margin-left: 200px;
        width: 80px;
        height: 20px;
        margin-top: 15px;
        font-size: 9px;
    }
    .my-orders{
        width: 80vw;
    }
}
@media (max-width:355px) and (min-width:200px){
    .checkout-btn {
        height: 20px;
        width: 80px;
        font-size: 7px;
        margin-top: 40px;
        position: relative;
        left: 60px;
        
    }
    .address-info-head {
        height: 30px;
        margin: 10px;

        >h2 {
            font-size: 20px;
            margin-left: -350px;
        }

        >button {
            height: 20px;
            width: 50px;
            margin-top: 5px;
            margin-left: 100px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 10px;
            color: blue;
        }

    }
    .deliver-btn {
        >button {
            height: 20px;
            width: 80px;
            font-size: 7px;
            margin-top: 0px;
            margin-left: 100px;
            background: tomato;
            font-weight: 550;
            font-size: 7px;
            color: white;
        }

    }
    .address-change-icons {
        font-size: 13px;

    

    }
    .order-confirm-btn {
        margin-left: 100px;
        width: 80px;
        height: 20px;
        margin-top: 15px;
        font-size: 9px;
    }
}