.create-container{
    min-height: 100vh;
    height: max-content;
    width: max-content;
    min-width: 70vw;
    box-sizing: border-box;
    
}
.create-box{
    min-width: 50vw;
    width: max-content;
    margin: 20px 230px;
    min-height:100vh;
    box-sizing: border-box;
    height: max-content;
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 5px;
   
}
.create-head{
    text-align: center;
    padding-top: 20px;
}
.create-form-group{
    display: flex;
    flex-direction: column;
    >label{
        font-size: 20px;
        padding-left: 100px;
    }
    >input,textarea,select{
        height: 50px;
        width: 40vw;
        margin-left: 6vw;
        
    }
}
.custom-file{
    width: 40vw;
    margin-left: 6vw;
}
.create-img{
    display: flex;
    margin-left: 8vw;
   
}
.create-btn{
    background: rgb(3, 133, 255);
    width: 230px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 18vw;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 8px;
}
.create-btn:hover{
    font-size: 20px;
    font-weight: 500;
}