.profile-container{
    background: #ecb1b1;
    height: auto;
    width: 85%;
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 1rem;
    border: 2px double black;
    outline: 2px solid black;
    >ul{
        list-style: none;

        >.p-list{
            display: inline-block;
            padding: 3rem;
            font-weight: 600;
            text-transform: capitalize;
        }
        >.p-content{
            font-size: 20px;    
            >.p-values{
                padding-left: 50%;
                font-weight: 600;
            }
            >.p-values:first-child{
                padding-left: 30%;
            }
        }
    }

    >.profile-details{
        padding-left: 10%;
    }
}